In [1]:
import time
from datetime import datetime
import calendar
import pandas as pd
import csv
#import scikit-learn as

In [2]:
#ADMISSIONS.csv, PATIENTS.csv, DIAGNOSES_ICD.csv, and ICUSTAYS.csv.
Admissions = pd.read_csv("mimic-iii-clinical-database-demo-1.4/ADMISSIONS.csv")
Patients= pd.read_csv('mimic-iii-clinical-database-demo-1.4/PATIENTS.csv')
Diagnoses=pd.read_csv('mimic-iii-clinical-database-demo-1.4/DIAGNOSES_ICD.csv')
ICUstays=pd.read_csv('mimic-iii-clinical-database-demo-1.4/ICUSTAYS.csv')

In [3]:
Admissions.keys()
def printColumnInfo(df):
    template="%-8s %-30s %s"
    print(template % ("Type", "Column Name", "Example Value"))
    print("-"*53)
    for c in df.columns:
        print(template % (df[c].dtype, c, df[c].iloc[1]) )

#sort a Pandas DataFrame by column names in Python        
Ad=Admissions.sort_index(axis=1)        
printColumnInfo(Ad)

Type     Column Name                    Example Value
-----------------------------------------------------
object   admission_location             TRANSFER FROM HOSP/EXTRAM
object   admission_type                 EMERGENCY
object   admittime                      2126-08-14 22:32:00
object   deathtime                      2126-08-28 18:59:00
object   diagnosis                      HEPATITIS B
object   discharge_location             DEAD/EXPIRED
object   dischtime                      2126-08-28 18:59:00
object   edouttime                      nan
object   edregtime                      nan
object   ethnicity                      UNKNOWN/NOT SPECIFIED
int64    hadm_id                        105331
int64    has_chartevents_data           1
int64    hospital_expire_flag           1
object   insurance                      Private
object   language                       nan
object   marital_status                 SINGLE
object   religion                       CATHOLIC
int64    row_id                         12263
int64    subject_id                     10011

In [14]:
Admissions.describe()

,row_id,subject_id,hadm_id,hospital_expire_flag,has_chartevents_data
count,129.000000,129.000000,129.000000,129.000000,129.000000
mean,28036.441860,28010.410853,152343.441860,0.310078,0.992248
std,14036.548988,16048.502883,27858.788248,0.464328,0.088045
min,12258.000000,10006.000000,100375.000000,0.000000,0.000000
25%,12339.000000,10088.000000,128293.000000,0.000000,1.000000
50%,39869.000000,40310.000000,157235.000000,0.000000,1.000000
75%,40463.000000,42135.000000,174739.000000,1.000000,1.000000
max,41092.000000,44228.000000,199395.000000,1.000000,1.000000

In [15]:
Admissions.isna().sum()

row_id                   0
subject_id               0
hadm_id                  0
admittime                0
dischtime                0
deathtime               89
admission_type           0
admission_location       0
discharge_location       0
insurance                0
language                48
religion                 1
marital_status          16
ethnicity                0
edregtime               37
edouttime               37
diagnosis                0
hospital_expire_flag     0
has_chartevents_data     0
dtype: int64

In [4]:
#date_format = '%d-%b-%y.%H:%M:%S'

#for  line in enumerate(Admissions):
#    dt_dischtime=Admissions[datetime.strptime('dischtime',date_format)] 
#    dt_admittime=Admissions[datetime.strptime('admittime',date_format)] 
#    Admissions['Lenght-of-stay'] = dt_dischtime -dt_admittime
#   print(Admissions['Lenght-of-stay'])

In [5]:
Patients.keys()

#sort a Pandas DataFrame by column names in Python        
Pa=Patients.sort_index(axis=1)        
printColumnInfo(Pa)

Type     Column Name                    Example Value
-----------------------------------------------------
object   dob                            2090-06-05 00:00:00
object   dod                            2126-08-28 00:00:00
object   dod_hosp                       2126-08-28 00:00:00
object   dod_ssn                        nan
int64    expire_flag                    1
object   gender                         F
int64    row_id                         9472
int64    subject_id                     10011

In [6]:
Patients.describe()

             row_id    subject_id  expire_flag
count    100.000000    100.000000        100.0
mean   20452.580000  26162.330000          1.0
std    10982.043163  16201.834705          0.0
min     9467.000000  10006.000000          1.0
25%     9526.500000  10068.500000          1.0
50%    20209.000000  25128.000000          1.0
75%    31391.250000  42276.500000          1.0
max    31872.000000  44228.000000          1.0

In [7]:
Patients.isna().sum()

row_id          0
subject_id      0
gender          0
dob             0
dod             0
dod_hosp       30
dod_ssn        23
expire_flag     0
dtype: int64

In [8]:
Diagnoses.keys()

#sort a Pandas DataFrame by column names in Python        
Di=Diagnoses.sort_index(axis=1)        
printColumnInfo(Di)

Type     Column Name                    Example Value
-----------------------------------------------------
int64    hadm_id                        142345
object   icd9_code                      99662
int64    row_id                         112345
int64    seq_num                        2
int64    subject_id                     10006

In [9]:
Diagnoses.describe()

              row_id    subject_id        hadm_id      seq_num
count    1761.000000   1761.000000    1761.000000  1761.000000
mean   287797.360591  30392.649631  152515.138558     8.844974
std    132861.091209  15461.173204   27552.374513     6.315866
min    112344.000000  10006.000000  100375.000000     1.000000
25%    113177.000000  10094.000000  128293.000000     4.000000
50%    382072.000000  40687.000000  155297.000000     8.000000
75%    389325.000000  42199.000000  174863.000000    12.000000
max    397677.000000  44228.000000  199395.000000    37.000000

In [10]:
Diagnoses.isna().sum()

row_id        0
subject_id    0
hadm_id       0
seq_num       0
icd9_code     0
dtype: int64

In [11]:

ICUstays.keys()
#sort a Pandas DataFrame by column names in Python        
ICU=ICUstays.sort_index(axis=1)        
printColumnInfo(ICU)

Type     Column Name                    Example Value
-----------------------------------------------------
object   dbsource                       carevue
object   first_careunit                 MICU
int64    first_wardid                   15
int64    hadm_id                        105331
int64    icustay_id                     232110
object   intime                         2126-08-14 22:34:00
object   last_careunit                  MICU
int64    last_wardid                    15
float64  los                            13.8507
object   outtime                        2126-08-28 18:59:00
int64    row_id                         12747
int64    subject_id                     10011

In [12]:
ICUstays.describe()

,row_id,subject_id,hadm_id,icustay_id,first_wardid,last_wardid,los
count,136.000000,136.000000,136.000000,136.000000,136.000000,136.000000,136.000000
mean,29370.316176,28263.485294,153259.566176,250980.470588,34.470588,34.022059,4.452457
std,14550.435239,16008.281510,28054.220280,28455.125832,18.876182,19.280951,6.196828
min,12742.000000,10006.000000,100375.000000,201006.000000,7.000000,7.000000,0.105900
25%,12826.750000,10089.750000,129028.000000,224359.250000,14.750000,14.000000,1.233525
50%,41427.000000,40307.000000,157724.000000,250055.000000,33.000000,33.000000,2.111450
75%,42073.750000,42207.000000,174896.500000,277279.250000,52.000000,52.000000,4.329050
max,42714.000000,44228.000000,199395.000000,298685.000000,57.000000,57.000000,35.406500

In [13]:
ICUstays.isna().sum()

row_id            0
subject_id        0
hadm_id           0
icustay_id        0
dbsource          0
first_careunit    0
last_careunit     0
first_wardid      0
last_wardid       0
intime            0
outtime           0
los               0
dtype: int64